.property-scroll-div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.property-scroll-div li {
    scroll-snap-align: start;
}

.property-scroll-div {
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.property-card-div {
    display: inline-block;
}

#scroll-left-button {
    font-size: 16px;
    opacity: 0.5;
}
#scroll-right-button {
    font-size: 16px;
    opacity: 1;
}

#scroll-left-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px slategray solid;
    cursor: default;
}
#scroll-right-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px slategray solid;
    cursor: pointer;
}